/* line 1, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
html {
  background: #505d6e url(body4.jpg) no-repeat center center fixed;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 10, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
body {
  background: transparent;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  line-height: 1.5em;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
/* line 27, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu {
  z-index: 999999;
  width: 100%;
  padding: 30px 0 0 0;
}

@media (min-width: 768px) {
  /* line 29, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
  .mainmenu {
    position: fixed;
  }
}
/* line 32, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.navbar-toggle {
  position: relative;
  float: left;
  display: block;
  padding: 9px 10px;
  background: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: 0 none;
  top: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
  opacity: 1;
  -webkit-transition: all .45s;
  -moz-transition: all .45s;
  transition: all .45s;
  float: left;
}

/* line 51, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
}

/* line 57, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* line 60, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.open .navbar-toggle {
  top: -70px;
  opacity: 0;
}

/* line 64, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu .dropdown-menu {
  top: -14em;
  left: 0px;
  font-size: 13px;
  padding: 0;
  background: none;
  border: 0 none;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  opacity: 0;
  -webkit-transition: all .45s;
  -moz-transition: all .45s;
  transition: all .45s;
}

/* line 80, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu .dropdown-menu .active {
  font-weight: bold;
}

/* line 83, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu .open .dropdown-menu {
  top: 2px;
  opacity: 1;
}

/* line 87, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu .dropdown-menu a {
  padding: 10px 10px;
  margin: 0;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 96, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.mainmenu .dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 8px 10px 12px;
}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
/* line 107, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.section {
  z-index: 1;
  min-height: 420px;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  display: none;
  top: 0;
}

@media (min-width: 768px) {
  /* line 119, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
  .section {
    padding-top: 160px;
  }
}
/* Show one of sections */
/* line 123, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
#head {
  display: block;
}

/********************************************************/
/*                      Typography                      */
/********************************************************/
/* line 131, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 132, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
a:hover, a:active {
  color: #fff;
  text-decoration: underline;
}

/* line 133, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.lead {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
}

/* line 140, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.title,
.subtitle {
  font-family: 'Wire One', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7em;
  margin-bottom: 15px;
  color: #FDF9F4;
  line-height: 1em;
}

/* line 148, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.subtitle {
  line-height: .9em;
  font-size: 5.5em;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 154, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.tagline {
  font-size: 1.4em;
  line-height: 1.3em;
  font-weight: normal;
  margin-bottom: 75px;
}

@media (max-width: 767px) {
  /* line 162, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
  .lead {
    font-size: 1.3em;
  }
}
/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
/* line 171, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn {
  color: #333;
  text-shadow: none;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0 none;
}

/* line 180, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn:hover {
  color: #000;
}

/* line 183, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-lg {
  padding: 16px 30px;
  font-size: inherit;
}

/* line 188, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-link {
  color: rgba(255, 255, 255, 0.8);
}

/* line 191, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-link:hover, .btn-link:focus, .btn-link:active {
  color: white;
}

/* line 194, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-default {
  background: rgba(255, 255, 255, 0.5);
}

/* line 197, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background: rgba(255, 255, 255, 0.8);
}

/* line 200, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-primary {
  background: rgba(255, 255, 255, 0.2);
}

/* line 203, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
  background: rgba(255, 255, 255, 0.5);
}

/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
/* line 212, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.thumbnail {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0 none;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 220, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.thumbnail .caption {
  color: inherit;
}

/********************************************************/
/*                 Everything else                      */
/********************************************************/
/* line 230, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.list-social .btn {
  font-size: 1.3em;
}

/* line 233, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.list-social .btn:hover, .list-social .btn:active, .list-social .btn:focus {
  text-decoration: none;
}

/* Social buttons in the footer */
/* line 239, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
#social {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 243, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
#social .wrapper {
  width: 340px;
  margin: 0 auto;
}

/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
/* line 280, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.text-shadows {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 285, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

/* line 288, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.text-shadows .mainmenu .dropdown-menu a {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* line 291, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.text-shadows .mainmenu .dropdown-menu a:hover {
  text-shadow: none;
}

/***********************************************************/
/*                   Inverted theme                        */
/***********************************************************/
/* line 300, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert {
  color: #222;
  color: rgba(0, 0, 0, 0.8);
}

/* line 304, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert a {
  color: #000;
}

/* line 307, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn {
  color: rgba(255, 255, 255, 0.8);
}

/* line 310, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn:hover {
  color: #fff;
}

/* line 313, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-link {
  color: rgba(0, 0, 0, 0.8);
}

/* line 316, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-link:hover, .theme-invert .btn-link:focus, .theme-invert .btn-link:active {
  color: black;
}

/* line 319, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .navbar-toggle {
  background: rgba(0, 0, 0, 0.12);
}

/* line 322, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .navbar-toggle .icon-bar {
  background: #333;
}

/* line 325, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .mainmenu .dropdown-menu a {
  color: #000;
}

/* line 328, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .mainmenu .dropdown-menu a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}

/* line 335, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .title,
.theme-invert .subtitle,
.theme-invert .tagline {
  color: #222222;
}

/* line 339, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-default {
  background: rgba(0, 0, 0, 0.4);
}

/* line 345, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

/* line 349, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-primary {
  background: rgba(0, 0, 0, 0.2);
}

/* line 355, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .btn-primary:hover,
.theme-invert .btn-primary:focus,
.theme-invert .btn-primary:active,
.theme-invert .btn-primary.active {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* line 360, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.theme-invert .thumbnail {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 363, /home/roshan/projects/crowdsource/app/assets/stylesheets/magister.css.scss */
.thumbnail .caption {
  color: inherit;
}
