<!DOCTYPE html>
<html lang="en">
<head>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>Crowdsourcing - A collaborative effort towards the betterment of the world </title>

	<!-- Bootstrap itself -->
	<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "magister" %>
	<!-- Fonts -->
	<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" %>
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">C-r-o-w-d-s-o-u-r-c-i-n-g</h1>
				<h2 class="subtitle"></h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					A collaborative effort towards the betterment of the world
				</h3>

				<!-- Nice place to describe your site in a sentence or two -->
				<p><%= link_to "Join us now", new_admin_admin_user_path , class: "btn btn-default btn-lg" %></p>

			</div> <!-- /col -->
		</div> <!-- /row -->

	</div>
</section>


<!-- Load js libs only when the page is loaded. -->

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
<%= javascript_include_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" %>
<%= javascript_include_tag "modernizr.custom.72241" %>
<!-- Custom template scripts -->
<%= javascript_include_tag "magister" %>
</body>
</html>
